/* general */

/* breakpoints ---------------------------------------------------------------*/
  @media (min-width: 1200px){

  }
  @media (max-width: 1199px){

  }
  @media (max-width: 992px){

  }
  @media (max-width: 768px){

  }
  @media (max-width: 576px){

  }
  @media (max-width: 450px){

  }


/* font weight ---------------------------------------------------------------*/
  .fw-300 {font-weight: 300} .fw-400 {font-weight: 400} .fw-500 {font-weight: 500}
  .fw-600 {font-weight: 600} .fw-700 {font-weight: 700} .fw-800 {font-weight: 800}

  /* imp */
    .fw-300-imp {font-weight: 300 !important} .fw-400-imp {font-weight: 400 !important} .fw-500-imp {font-weight: 500 !important}
    .fw-600-imp {font-weight: 600 !important} .fw-700-imp {font-weight: 700 !important} .fw-800-imp {font-weight: 800 !important}


/* font size -----------------------------------------------------------------*/
  .fs-1em {font-size: 1em} .fs-2em {font-size: 2em} .fs-3em {font-size: 3em}

  .fs-01em {font-size: .1em} .fs-02em {font-size: .2em} .fs-03em {font-size: .3em}
  .fs-04em {font-size: .4em} .fs-05em {font-size: .5em} .fs-06em {font-size: .6em}
  .fs-07em {font-size: .7em} .fs-08em {font-size: .8em} .fs-09em {font-size: .9em}

  .fs-1_1em {font-size: 1.1em} .fs-1_2em {font-size: 1.2em} .fs-1_3em {font-size: 1.3em}
  .fs-1_4em {font-size: 1.4em} .fs-1_5em {font-size: 1.5em} .fs-1_6em {font-size: 1.6em}
  .fs-1_7em {font-size: 1.7em} .fs-1_8em {font-size: 1.8em} .fs-1_9em {font-size: 1.9em}

  .fs-2_1em {font-size: 2.1em} .fs-2_2em {font-size: 2.2em} .fs-2_3em {font-size: 2.3em}
  .fs-2_4em {font-size: 2.4em} .fs-2_5em {font-size: 2.5em} .fs-2_6em {font-size: 2.6em}
  .fs-2_7em {font-size: 2.7em} .fs-2_8em {font-size: 2.8em} .fs-2_9em {font-size: 2.9em}

  /* imp */
    .fs-1em-imp {font-size: 1em !important} .fs-2em-imp {font-size: 2em !important} .fs-3em-imp {font-size: 3em !important}

    .fs-01em-imp {font-size: .1em !important} .fs-02em-imp {font-size: .2em !important} .fs-03em-imp {font-size: .3em !important}
    .fs-04em-imp {font-size: .4em !important} .fs-05em-imp {font-size: .5em !important} .fs-06em-imp {font-size: .6em !important}
    .fs-07em-imp {font-size: .7em !important} .fs-08em-imp {font-size: .8em !important} .fs-09em-imp {font-size: .9em !important}

    .fs-1_1em-imp {font-size: 1.1em !important} .fs-1_2em-imp {font-size: 1.2em !important} .fs-1_3em-imp {font-size: 1.3em !important}
    .fs-1_4em-imp {font-size: 1.4em !important} .fs-1_5em-imp {font-size: 1.5em !important} .fs-1_6em-imp {font-size: 1.6em !important}
    .fs-1_7em-imp {font-size: 1.7em !important} .fs-1_8em-imp {font-size: 1.8em !important} .fs-1_9em-imp {font-size: 1.9em !important}

    .fs-2_1em-imp {font-size: 2.1em !important} .fs-2_2em-imp {font-size: 2.2em !important} .fs-2_3em-imp {font-size: 2.3em !important}
    .fs-2_4em-imp {font-size: 2.4em !important} .fs-2_5em-imp {font-size: 2.5em !important} .fs-2_6em-imp {font-size: 2.6em !important}
    .fs-2_7em-imp {font-size: 2.7em !important} .fs-2_8em-imp {font-size: 2.8em !important} .fs-2_9em-imp {font-size: 2.9em !important}


/* line height ---------------------------------------------------------------*/
  .lh-1em {line-height: 1em} .lh-2em {line-height: 2em}

  .lh-1_1em {line-height: 1.1em} .lh-1_2em {line-height: 1.2em} .lh-1_3em {line-height: 1.3em}
  .lh-1_4em {line-height: 1.4em} .lh-1_5em {line-height: 1.5em} .lh-1_6em {line-height: 1.6em}
  .lh-1_7em {line-height: 1.7em} .lh-1_8em {line-height: 1.8em} .lh-1_9em {line-height: 1.9em}

  /* imp */
    .lh-1em-imp {line-height: 1em !important} .lh-2em-imp {line-height: 2em !important}

    .lh-1_1em-imp {line-height: 1.1em !important} .lh-1_2em-imp {line-height: 1.2em !important} .lh-1_3em-imp {line-height: 1.3em !important}
    .lh-1_4em-imp {line-height: 1.4em !important} .lh-1_5em-imp {line-height: 1.5em !important} .lh-1_6em-imp {line-height: 1.6em !important}
    .lh-1_7em-imp {line-height: 1.7em !important} .lh-1_8em-imp {line-height: 1.8em !important} .lh-1_9em-imp {line-height: 1.9em !important}


/* Text --------------------------------------------------------------------- */
  .no-decoration {text-decoration: none} .no-decoration-imp {text-decoration: none !important}
  .unselectable {-moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none}


/* Align -------------------------------------------------------------------- */
  .align-left {text-align: left} .align-left-imp {text-align: left !important}
  .align-center {text-align: center} .align-center-imp {text-align: center !important}
  .align-right {text-align: right} .align-right-imp {text-align: right !important}

  .va-t {vertical-align: top} .va-t-imp {vertical-align: top !important}
  .va-b {vertical-align: bottom} .va-b-imp {vertical-align: bottom !important}

/* Cursor ------------------------------------------------------------------- */
  .cur-def {cursor: default} .cur-def-imp {cursor: default !important}
  .cur-help {cursor: help} .cur-help-imp {cursor: help !important}
  .cur-ban {cursor: not-allowed} .cur-ban-imp {cursor: not-allowed !important}
  .cur-pnt {cursor: pointer} .cur-pnt-imp {cursor: pointer !important}
  .cur-txt {cursor: text} .cur-txt-imp {cursor: text !important}
  .cur-wait {cursor: wait} .cur-wait-imp {cursor: wait !important}


/* Display ------------------------------------------------------------------ */
  .blk-0 {display: none} .blk-0-imp {display: none !important}
  .blk {display: block} .blk-imp {display: block !important}
  .inl {display: inline} .inl-imp {display: inline !important}
  .inl-blk {display: inline-block} .inl-blk-imp {display: inline-block !important}

  .w-fit {width: fit-content} .w-fit-imp {width: fit-content !important}
  .cl-opc{opacity: 1 !important}


/* Position ------------------------------------------------------------------*/
  .pos-sta {position: static} .pos-sta-imp {position: static !important}
  .pos-rel {position: relative} .pos-rel-imp {position: relative !important}
  .pos-abs {position: absolute} .pos-abs-imp {position: absolute !important}
  .pos-inh {position: inherit} .pos-inh-imp {position: inherit !important}

  .pull-r {display: inline; float: right} .pull-r-imp {display: inline; float: right !important}
  .pull-l {display: inline; float: left} .pull-l-imp {display: inline; float: left !important}
  .fl-r {float: right} .fl-r-imp {float: right !important}
  .fl-l {float: left} .fl-l-imp {float: left !important}


/* Border --------------------------------------------------------------------*/
  .rad-0 {border-radius: 0px} .rad-0-imp {border-radius: 0px !important}
  .brd-0 {border: 0} .brd-0-imp {border: 0 !important}


/* Size ----------------------------------------------------------------------*/
  .h-auto {height: auto} .h-auto-imp {height: auto !important}
  .w-auto {width: auto} .w-auto-imp {width: auto !important}
