@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.ttf");
}

:root {
  --primary-color: #12BBAD;
  --secondary-color: #7C828C;
  --background-color: #DADFE1;

  --messageArea-user-width: 200px;
}

body {
  font-family: 'Poppins';
  font-weight: 300;
  background: url("../images/img1.jpg");
  background-size: cover;
}

* {
  border-radius: 0px !important;
  word-wrap: break-word !important;
}

/* buttons */
.btn-custom-primary {
  background: var(--primary-color);
  color: white;
}
.btn-custom-primary:hover {
  background: var(--secondary-color);
  cursor: pointer;
}

/* custom */

#main-container {
  margin-top: 25px;
  margin-bottom: 25px;
}
#messageArea > div > div {
  background: white;
  padding: 15px;
  position: relative;

}

#messageArea > div:nth-child(1) {
  width: var(--messageArea-user-width);
  margin-right: 10px;
}

#messageArea > div:nth-child(2) {
  width: calc(100% - (var(--messageArea-user-width) + 10px));
}
#messageArea > div:nth-child(2) > div {
  height: calc(100vh - 50px);
}
#messageArea #messageForm {
  position: absolute;
  bottom: 15px;
  width: calc(100% - 30px);
}
#messageArea #messageForm textarea{
  margin-bottom: 12px;
}
#messageArea #chat {
  overflow-y: auto;
  height: calc(100% - 170px);
}
