<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/png" href="images/icon1.png" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sample Chat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" type='text/css' href="css/general.css">
  <link rel="stylesheet" type='text/css' href="css/styles.css">
</head>

<body>
  <div class="container" id="main-container">

    <div id="userFormArea">
      <form id="userForm">
        <div class="form-group mb-2">
          <label class="text-white" for="">Enter Username</label>
          <input class="form-control" id="username" type="text" required />
        </div>
        <input type="submit" class="btn btn-sm btn-custom-primary" value="Log in">

      </form>
    </div>

    <div class="row" id="messageArea" hidden>
      <div class="fl-l">
        <div>
          <!-- <p class="fs-1_2em mb-1">Users</p> -->

          <div id="users"></div>
        </div>
      </div>

      <div class="fl-r">
        <div>

          <!-- <p class="fs-1_2em mb-2">Chat</p> -->

          <div id="chat">
            <p class="fs-08em text-muted mb-2"><em>Welcome to the chat room. </em></p>
          </div>

          <form id="messageForm">
            <div class="form-group mb-0">
              <textarea class="form-control" rows="4" id="message" placeholder="Enter Message"></textarea>
            </div>
            <input type="submit" class="btn btn-sm btn-custom-primary fl-r" value="Submit">
          </form>


        </div>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    $(() => {
      let
        socket = io.connect(),
        username = $(`#username`)
        message = $(`#message`),
        chat = $(`#chat`)

      // message submit
      $(`#messageForm`).submit(function(e) {
        e.preventDefault();
        socket.emit('mess:send', message.val().split("\n"))
        message.val('')
      })

      // chat area update
      socket.on('mess:new', function(data) {
        let chat_mess = data.msg.reduce((temp, mess, i)=>{
          temp += i != data.msg.length-1 ? `${mess}<br>` : `${mess}`;
          return temp;
        },'')
        chat.append(`<p class="fs-09em mb-2"><span class="fw-600">${data.user} : </span>${chat_mess}</p>`)
        chat.scrollTop(chat[0].scrollHeight)
      })

      // user login
      $(`#userForm`).submit(function(e) {
        e.preventDefault();
        socket.emit('user:new', username.val().replace(/</g, "&lt;").replace(/>/g, "&gt;"))

        $(`#userFormArea`).attr('hidden', 'hidden')
        $(`#messageArea`).removeAttr('hidden')
      })

      // users area update
      socket.on('user:get', function(data) {
        $('#users').html('')
        data.forEach((user) => {
          $('#users').append(`<p class="fs-09em mb-1">${user}</p>`)
        })
      })

      message.keyup(function(e) {
        if (e.keyCode == 13) {
          if (!e.shiftKey){
            message.val(message.val().slice(0,message.val().length-1).replace(/</g, "&lt;").replace(/>/g, "&gt;"))
            $(`#messageForm`).submit();
          }
        }
      })

    })
  </script>
</body>

</html>
